.anuncio_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh;
}

.anuncio_container2 {
  padding: 20px;
  border-radius: 10px;
  width: 1400px;
  margin-top: 90px;
}

.anuncio_container2 h2 {
  display: flex;
  justify-content: left;
  position: relative;
  left: 18px;
  margin-top: 10px;
  margin-bottom: 18px;
}

.abas_container{
  display: flex;
  width: 50%;
}

.aba {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-top-right-radius: 20px; 
  border-top-left-radius: 20px; 
  
}

.aba:not(:last-child) {
  margin-right: -1px;
}

.aba_ativa {
  background-color: #fff;
}

.aba:not(.aba_ativa) {
  background-color: #f0f0f0;
}

.inserir_dados_container{
  border: 1px solid #ccc;
  margin-bottom: 50px;
}

.contaner_dados{
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 13px;
  margin-top: 60px;
  margin-bottom: 70px;
}
.cabecalho_container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #e6e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cabecalho_container2{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #e6e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cabecalho{
  position: relative;
  left: 10px;
  margin-top: 10px;
}

.obrigatorio{
  position: relative;
  right: 10px;
  margin-top: 10px;
}

.input_group{
  margin: 10px;
  display: flex;
  margin-right: -110px;
  flex-direction: column;
  margin-top: 30px;
}

.textarea_descricao,
.input_text {
  width: 50%;
  height: 40px; 
  border: 1px solid #ccc;
}

.input_CEP_text{
width: 42%;
height: 40px; 
border: 1px solid #ccc;
}

.input_valor_text{
  width: 10%;
  height: 40px; 
  border: 1px solid #ccc;
}

.select_categoria,
.select_estado,
.select_cidade {
  width: 50%;
  height: 40px; 
  border: 1px solid #ccc;
}

.input_endereco{
  display: flex;

}

.input_endereco_text{
  width: 301%;
  height: 40px; 
  border: 1px solid #ccc;
}

.input_group label{
  font-weight: 700;
}

.input_descricao_text{
  width: 50%;
  height: 100px; 
  border: 1px solid #ccc;
}

.button_group{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.next_button{
  background-color: #b4b4b4; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer; 
}


.input_imagens_label {
  display: flex;
    padding: 10px 20px;
    border: 2px dashed #9b9b9b;
    color: #a5a4a4;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.input_imagens_label:hover {
  background-color: #e4e4e4; 
}

.input_imagens {
  display: none;
}

/* ABA PROMOVER */

.info_ofertas{
  margin: 20px;
}

.info_buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.gratis_button{
  background-color: #b4b4b4; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer; 
}

.promova_button{
  background-color: #ff69b4; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer; 
}

/* ABA PUBLICAR */

.botao_publicar {
  display: flex;
  align-items: center;
  background-color: #ff69b4; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  bottom: 105px;
}


.botao_publicar:hover {
  opacity: 0.8; 
}