.modal {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform-origin: left center;
}

.modal.animate__animated.animate__slideInLeft {
  transform: translateX(0) scale(1); /* Ajusta a escala para manter o tamanho original */
  opacity: 1
}

.modal.animate__animated.animate__slideOutLeft {
  transform: translateX(-100%) scale(0.8); /* Ajusta a escala para manter o tamanho original */
  opacity: 0;
}


.modal_container {
    max-width: 300px;
    overflow: hidden;
    transition: max-width 0.3s ease;
    
   
}
  
.search_bar {
    display: flex;
    align-items: center;
  }
  
  .options {
    display: none;
  }
  
  .expanded .modal_container {
    max-width: 400px; 
  }
  
  .expanded .options {
    display: flex;
  }

.searchIconExpanded {
   
    transform: translateX(100%);
    transition: transform 0.3s ease;
} 



